<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <title>管理员</title>
</head>
<body>
    <div id="root" class="container">
pay_money
    </div>

    <script type="text/javascript" src="../static/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="../static/javascripts/lib/jquery.animateNumber.js"></script>
    <script type="text/javascript" src="../static/javascripts/common.js"></script>
    <script type="text/javascript" src='../static/javascripts/wloan_result.js'></script>
    <script type="text/javascript">
        (function(){
            $('#lines').animateNumber({ number: 16500000});
        })();
    </script>
</body>
</html>
