<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/weui.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/zdialog.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>微粒贷</title>
</head>
<body>
    <div id="root" class="container">
        <div class="header-bk">
            <img class="wloan-logo" src="../static/images/wloan.png" alt="wloan">
            <div class="text-c wloan-name ">
                <h2 class="wloan-title">微粒贷</h2>
            </div>
        </div>
        <div class="width-90 login">
            <div class="text-c login-form-title"><p>微粒贷额度检测系统</p></div>
            <div class='login-form'>
                <label for="username" class="text-l label">姓名</label>
                <input type="text" class="" id="username" placeholder="姓名">
            </div>
            <div class='login-form'>
                <label for="wxname" class="text-l label">微信号</label>
                <input type="text" class="" id="wxname" placeholder="微信号">
            </div>
            <div class="login-form">
                <a href="javascript:;" id="check_button" class="weui-btn weui-btn_primary">立即检查</a>
            </div>
            <a id="logout_admin" class="" href="javascript:;">退出登录</a>
        </div>
    </div>

    <script type="text/javascript" src="../static/javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="../static/javascripts/lib/zdialog.js"></script>
    <script type="text/javascript" src="../static/javascripts/common.js"></script>
    <script type="text/javascript" src='../static/javascripts/index.js'></script>
</body>
</html>
