@import "../../src/styles/common/theme.scss";

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  height: $header-height;
  background-color: black;
  color: #fff;
  justify-content: center;
  width: 100%;

  padding: 0 20px;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #fff;
    }

    ul,
    li {
      list-style: none;
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 8px 14px;
      position: relative;

      .dot {
        position: absolute;
        height: 6px;
        width: 6px;
        background-color: #5900ff;
        bottom: 10px;
        right: 4px;
        border-radius: 50%;
      }
    }

    .left {
    }

    .right {
      display: flex;
      align-items: center;

      .Theme {
        padding: 5px 10px;
        margin-right: 5px;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
}

.footer {
  display: flex;
  height: $footer-height;
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;

  a {
    color: #fff;
  }
}
