.content {
  padding-top: 20px;
  padding-bottom: 40px;

  margin: 0 auto;
  @media screen and (min-width: 900px) {
    width: 700px;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 641px) and (max-width: 899px) {
    width: 500px;
    box-sizing: border-box;
  }

  @media (max-width: 640px) {
    padding: 0 1.2em;
    width: 100%;
    box-sizing: border-box;

    .toc-anchors {
      display: none;
    }
  }
}
