.photographer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  padding: 2px 5px;
  height: 20px;
  display: flex;
  align-items: center;
}
