$blockquote-color: var(--purple);

.Blockquote {
  margin: 0;
  font-size: 0.9em;
  overflow: auto;
  background: var(--theme-background);
  color: var(--thmee-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 20px;
  line-height: 27px;
  border-left: 6px solid var(--theme-border-color);
}
