$blockquote-color: var(--purple);

.Blockquote {
  margin: 0;
  font-size: 0.9em;
  overflow: auto;
  color: var(--theme-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 20px;
  line-height: 27px;
  border-left: 6px solid var(--theme-blockquote-border-color);
  background: 6px solid var(--theme-blockquote-bg-color);

  p {
    margin: 0;
  }
}
