$cover-height: 450px;

.top {
  color: var(--theme-text-color);
  position: relative;
  overflow: hidden;

  .coverWrapper {
    position: relative;
    height: $cover-height;
    overflow: hidden;
  }

  .cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
    height: $cover-height;
  }

  .coverBg {
    z-index: 0;
    background: rgba(51, 51, 51, 0.5);
    transition: 300ms ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  .dateWrapper {
    display: flex;
    flex-direction: column;
    height: $cover-height;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & h1 {
      color: #fff;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 4px solid;
    font-weight: bold;
    padding: 5px 10px;
    transition: 300ms ease-in-out;
  }

  .dateDay,
  .dateMonth {
    font-size: 22px;
    display: inline-block;
  }

  & h2 {
    margin-top: 10px;
  }

  a {
    color: var(--theme-primary);
  }
}
