
body{
    background: #0d0d5b;
    color: #fff;
    position: relative;
    width: 100%;
    height:100%;
}

.container{
    position: absolute;
    top:25%;
    left: 0;
    width: 100%;
}

.login{
    padding-top:20px;
}
.login-form{
    margin-bottom: 10px;
}

.login-form-title{
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.login-form .label{
    width:18%;
    height:34px;
    margin-top:10px;
}

.login-form input{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

/*管理员*/
.wloan-admin{
    color: #0099e5;
}
