.H1,
.H2,
.H3,
.H4,
.H5,
.H6 {
  color: var(--theme-heading-color);
}

.H1 {
}
.H2 {
  position: relative;
  padding-left: 18px;
  margin-left: -18px;
  line-height: 28px;

  svg {
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 14px;
    display: none;
    color: var(--theme-heading-color);
  }

  &:hover {
    svg {
      display: inline-block;
    }
  }
}
.H3 {
}
.H4 {
}
.H5 {
}
.H6 {
}
