$code-color: var(--indigo, #000); //rgb(40, 202, 113);
.P {
  code {
    font-size: 14px;
    overflow-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: rgba(27, 31, 35, 0.05);
    font-family: "Operator Mono", Consolas, Monaco, Menlo, monospace;
    word-break: break-all;
    color: $code-color;
  }
}
