@import "./common/theme.scss";

@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i");

// 浏览器主题
html[data-theme="light"] {
  --theme-primary: #6610f2;
  --theme-background: #fff;
  --theme-link-color: rgb(9, 211, 172);
  --theme-heading-color: #000000;
  --theme-text-color: #1b1f22;
  --theme-list-color: #1b1f22;
  --theme-code-color: #1b1f22;
  --theme-code-bg-color: #eaedf0;
  --theme-border-color: #dadde1;
  --theme-hr-color: #1b1f22;
  --theme-table-color: "";
  --theme-table-border-color: "";
  --theme-table-th-color: "";
  --theme-table-tr-color: "";
  --theme-table-td-color: "";
  --font-family-sans-serif: Optima-Regular, Optima, PingFangSC-light,
    PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

html[data-theme="dark"] {
  --theme-primary: #6610f2;
  --theme-background: rgb(24, 25, 26);
  --theme-link-color: rgb(9, 211, 172);
  --theme-heading-color: #ffffff;
  --theme-text-color: #f5f6f7;
  --theme-list-color: #f5f6f7;
  --theme-code-color: #f5f6f7;
  --theme-code-bg-color: #444950;
  --theme-border-color: #606770;
  --theme-hr-color: #fff;
  --theme-table-color: "";
  --theme-table-border-color: "";
  --theme-table-th-color: "";
  --theme-table-tr-color: "";
  --theme-table-td-color: "";
  --font-family-sans-serif: Optima-Regular, Optima, PingFangSC-light,
    PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-background);
}

#__next {
  display: flex;
  min-height: 100vh;
}

a,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// MDXComponent css
h1 {
  font-size: 2.2em;
}
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.2em;
  font-family: "Josefin Slab", serif;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 0.9em;
}
