// @import "./common/theme.scss";

.mdx-box {
  font-size: 16px;

  color: rgb(74, 74, 74);
  line-height: 1.75em;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
