.container {
  flex: 1;
  justify-content: center;
  // background-image: url("/static/images/bg/3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.cover {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
}

.content {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  .face {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    // border: 2px solid #fff;
    box-shadow: 0px 2px 5px #555;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    &:hover {
      box-shadow: 0px 3px 10px #555;
    }
  }

  @media screen and (min-width: 900px) {
    h3 {
      font-size: 40px;
    }
  }

  @media only screen and (min-width: 641px) and (max-width: 899px) {
    width: 500px;
    box-sizing: border-box;
    h3 {
      font-size: 30px;
    }
  }

  @media (max-width: 640px) {
    padding: 0 1.2em;
    width: 100%;
    box-sizing: border-box;
    h3 {
      font-size: 20px;
    }
  }

  .links {
    a {
      margin: 10px 15px;
      padding: 10px 35px;
      height: 45px;
      line-height: 45px;
      font-size: 1rem;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 30px;
      box-shadow: none;

      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out;

      &:hover {
        border-color: #5900ff;
        background-color: #5900ff;
      }
    }
  }
}
