.pre {
  padding-top: 40px !important;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    height: 24px;
    width: 100%;
    background-image: url("/static/images/md/window-controls.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
  }
}
