.pre {
  padding-top: 40px !important;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    height: 24px;
    width: 100%;
    background-image: url("/static/images/md/window-controls.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
  }

  .language,
  .languageCopy {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.3rem 0.4rem;
    color: #fff;
    border-radius: 4px;
    display: none;
    align-items: center;
    font-size: 0.8em;
    height: 23px;
    line-height: 14px;
    user-select: none;
  }

  .language {
    right: 50px;
  }

  .languageCopy {
    cursor: pointer;
    font-size: 14px;
  }

  .languageCopied {
    color: #0099e5;
  }

  &:hover {
    .language,
    .languageCopy {
      display: inline-flex;
      align-items: center;
    }
  }
}
