<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/libs/jquery/jquery.min.js"></script>

<%- partial('_partial/bg-cover') %>

<style>
    #send{
        margin-bottom: 10px;
        width: 49%;
        background-color: #0ba360;
    }
    #clear{
        margin-bottom: 10px;
        width: 49%;
        background-color: #e7c65c;
    }
    p{
        text-align: center;
    }
</style>
<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-comments"></i>&nbsp;&nbsp;<%= __('contact') %>
                </div>
                <%- page.content %>
            </div>
        </div>

        <!--其他评论card-->
        <div class="card">
            <script src="https://giscus.app/client.js" data-repo="freeshineit/giscus-comments"
                data-repo-id="R_kgDOI5ZcuQ" data-category="Q&A" data-category-id="DIC_kwDOI5Zcuc4CT-sM"
                data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="0"
                data-input-position="top" data-theme="light" data-lang="zh-CN"
                data-loading="lazy" crossorigin="anonymous" async>
                </script>
            <!-- 评论 -->
            <div class="giscus"></div>
        </div>
    </div>
</main>
